* {
  box-sizing: border-box;
}

/* ONLOAD */

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #f2f2f2;
  border-top: 6px solid #56829e;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* ONLOAD ENDING */

body,
html {
  height: 100%;
  font-family: arial, helvetica, sans-serif
}

#map {
  position: relative;
  z-index: 0;
}

/* It will be countriesSelect after modification, not nav anymore */
#countriesSelect {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 200px;
  z-index: 1;
}

#countriesList {
  width: 100%;
  border-radius: 5px;
  padding: 5px;
  font-size: 15px;
  box-shadow: 1px 1px 5px grey;
  color: #56829e;
}

.marker-cluster span {
  line-height: 10px
}

.marker-cluster-city {
  background-color: rgba(50, 169, 221, .6)
}

.marker-cluster-city div {
  background-color: rgba(21, 78, 164, .6)
}

.marker-cluster-quake {
  background-color: rgba(239, 146, 40, .6)
}

.marker-cluster-quake div {
  background-color: rgba(193, 87, 28, .6);
  color: #fff
}

.marker-cluster-wiki {
  background-color: rgba(192, 87, 160, .6);
}

.marker-cluster-wiki div {
  background-color: rgba(110, 37, 73, .6);
}

#covidInfo,
#imagesBody,
#dailyForecast {
  display: none;
}

#infoTable tr td,
#covidInfo tr td {
  padding: 5px 0;
}

#dailyForecast,
#covidInfo,
#infoTable {
  width: 100%;
  margin: 0;
}

#infoTable tr:nth-child(odd) {
  background-color: #fbf8f1;
}

#infoTable tr td,
#covidInfo tr td {
  padding-left: 16px;
  padding-right: 16px;
}

#covidInfo tr:nth-child(odd) {
  background-color: #fbf8f1;
}

#modalInfo,
#modalCovid {
  padding: 0;
}

#dailyForecast tr td {
  padding: 0 0;
  text-align: center;
}

#dailyForecast tr:first-of-type {
  background: #ececec;
}

#newCases,
#newDeath,
#newRecovered,
#totalCases,
#totalDeaths,
#totalRecovered,
#capitalName,
#currency,
#population,
#area {
  text-align: right;
}

.modal-content {
  border-radius: 0.6rem;
}

.modal-header {
  border-top-left-radius: 0.6rem;
  border-top-right-radius: 0.6rem;
  border: 0;
}

i.material-icons {
  display: block;
  height: 18px;
  right: 3px;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 3px;
  width: 18px;
}


.countryImage {
  width: 100%;
  padding-bottom: 5px;
}



@media only screen and (max-width: 500px) {
  body {
    font-size: medium;
  }
}